body,textarea,input{ font-size:13px;}
.chat{max-width:300px; margin:0px auto;}
.chat-messages,.chat-textarea,.chat-name{border:1px solid #bbb;width:100%;padding:10px; margin-top:0px;}
.chat-messages{height:300px;overflow:scroll;}
.chat-status{color:#bbb;}
.chat-message{margin-bottom:10px;}
